.App {
  text-align: center;
  background-color: #f24236;
  min-height: 100vh;
}

.title-card{
  height: 100px;
  margin-top: 0;
  padding-top: 15px;
  /* background-color: #F93318; */
  color: white;
}

.title-card h1{
  margin: 0;
  padding-top: 25px;
}